:root {
  background-color: gainsboro;

  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.t-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, tbody {
  border-collapse: collapse;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}



th,
td {
  width: 100%;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
